.stuff {
  margin-top: 2rem;
}

.--card {
  width: 240px;
  height: 150px;
  background-color: #f1f1f1;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card-value {
  margin-bottom: 5px;
  text-align: center;
}

.card-power {
  font-size: 18px;
  font-style: italic;
}

.game-container {
  grid-row: 2;
  grid-column: 2;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: 100px 200px 100px; */
  justify-items: center;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.gap {
  gap: 20px;
}

.player {
  width: 5rem;
  height: 5rem;
  border: 3.5px solid black;
  border-radius: 50%;
}

.player1 {
  grid-row: 1;
  grid-column: 1;
}

.player2 {
  grid-row: 1;
  grid-column: 3;
}

.player3 {
  grid-row: 3;
  grid-column: 1;
}

.player4 {
  grid-row: 3;
  grid-column: 3;
}

.--card.flipped {
  transform: rotateX(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
}

.card-front {
  z-index: 2;
}

.card-back {
  transform: rotateX(180deg);
  z-index: 1;
  /* Add any specific styles for the back face of the card */
  background-color: #4caf50;
  color: white;
  /* Center the image in the back face */
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-minus {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.spanner {
  margin-right: 2rem;
}

.grey-box {
  background-color: grey;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999999999999999999;
}

@media (max-width: 991px) {
  .grey-box {
    display: block;
  }
}