/* [4] */
/* @font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanssc/v26/k3kXo84MPvpLmixcA63oeALhLOCT-xWNm8Hqd37g1OkDRZe7lR4sg1IzSy-MNbE9VH8V.4.woff2) format('woff2');
  unicode-range: U+1f1e9-1f1f5, U+1f1f7-1f1ff, U+1f21a, U+1f232, U+1f234-1f237, U+1f250-1f251, U+1f300, U+1f302-1f308, U+1f30a-1f311, U+1f315, U+1f319-1f320, U+1f324, U+1f327, U+1f32a, U+1f32c-1f32d, U+1f330-1f357, U+1f359-1f37e;
} */

main {
  margin-top: 56px;
}

.btn {
  background-color: #4dabf7 !important;
  color: #222 !important;
  transform: all 500ms;
}

.btn:hover,
.btn:active {
  background-color: #94cdfa !important;
}

.hero-img {
  transition: all 500ms;
}

.hero-img:hover {
  transform: translateY(-10px);
}

.card {
  transition: all 500ms;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
}

.bg-light-blue {
  background-color: #edf7fe !important;
}