main {
  font-family: 'Noto Sans SC', sans-serif !important;
}

.btn {
  background-color: #74c0fc;
  transition: all 500ms;
  cursor: pointer !important;
}

.btn:hover,
.btn:active {
  background-color: #90cdfd !important;
}

.z-layout-img {
  width: 100%;
}

#learn-more {
  padding-top: 20px;
}