.btn {
  background-color: #4dabf7 !important;
  color: #222 !important;
  transform: all 500ms;
}

.btn:hover,
.btn:active {
  background-color: #94cdfa !important;
}

.hero-img {
  transition: all 500ms;
}

.hero-img:hover {
  transform: translateY(-10px);
}

.card {
  transition: all 500ms;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
}

.bg-light-blue {
  background-color: #edf7fe !important;
}

/* UNINPORTANT STYLES */
.footer-link:link,
.footer-link:active,
.footer-link:visited,
.footer-link:hover {
  color: #222;
  text-decoration: none;
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

.progress-container {
  width: 100%;
  height: 4px;
  background: #ccc;
}

.progress-bar {
  height: 4px;
  background: #4dabf7;
  width: 0%;
}

aside {
  display: inline-block !important;
}

.fuck-u {
  display: inline-block !important;
}

.hkr {
  display: flex;
  flex-direction: row;
}